<h1>Show photographer</h1>

<%= render 'post', post: @post %>
<% if @post.user.id == current_user.id %>
    <th><%= link_to 'back', posts_path %></th>
    <th><%= link_to 'edit', edit_post_path %></th>
<% else %>
    <th><%= link_to 'back', posts_path %></th>
<% end -%>

